<div class="small-box bg-info">
  <div class="inner">
    <h3><%- number %></h3>

    <p><%- title %></p>
  </div>
  <div class="icon">
    <i class="<%- icon %>"></i>
  </div>
  <a href="<%- moreLink %>" class="small-box-footer"><%- moreTitle %> <i class="fa fa-arrow-circle-left"></i></a>
</div>