
<%- include("./components/jumbotron.ejs" , {title : "سبدخرید" , subtitle : "فروشگاه مارکاتو"}); %>

<%- include("./components/breadcrumb.ejs" , {array : [
  {title : "خانه" , link : "/"} , 
  {title : "فروشگاه" , link : '/products'} , 
  {title : "سبدخرید" , link : "" , active : true}
]}) %>

<div class="page-content">
    <div class="cart">
        <div class="container">
            <% if(user && user.cart.length > 0) { %>
                
            <div class="row">
                <div class="col-lg-9">
                    <table class="table table-cart table-mobile">
                        <thead>
                            <tr>
                                <th>محصول</th>
                                <th>قیمت</th>
                                <th>تعداد</th>
                                <th>مجموع</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="cartBody">
                            <% user.cart.forEach(cart => { %>
                                <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="<%- cart.thumbnail.small %>"
                                                        alt="<%- cart.fullName %>">
                                                </a>
                                            </figure>
    
                                            <h3 class="product-title">
                                                <a href="/product/<%- cart.id %>"><%- cart.fullName %></a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    <td class="price-col"><%- helper.decimaller(cart.price) %></td>
                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">
                                            <input type="number" data-productid="<%- cart.id %>" class="form-control qty" value="<%- cart.qty %>" min="1" max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col">
                                        <%- helper.decimaller(cart.qty * cart.price) %>
                                    </td>
                                    <td class="remove-col">
                                        <button class="btn-remove" onclick="
                                            deleteCart('<%- cart.id %>')
                                        "><i class="icon-close"></i></button></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table><!-- End .table table-wishlist -->

                    <div class="cart-bottom">
                        <div class="cart-discount">
                            <% if(user.discountCode) { %>
                                <div class="input-group">
                                    <input type="text" disabled value="<%- user.discountCode %>" id="discountCode" class="form-control" required placeholder="کد تخفیف">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary-2 px-2"
                                            onclick="disableDiscount()"
                                        type="submit">حذف کد تخفیف</button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- End .input-group -->
                            <% } else { %>
                                <div class="input-group">
                                    <input type="text" id="discountCode" class="form-control" required placeholder="کد تخفیف">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary-2" type="submit" onclick="useDiscount()"><i
                                                class="icon-long-arrow-left"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- End .input-group -->
                            <% } %>
                        </div><!-- End .cart-discount -->

                        <a onclick="reloadCart()" class="btn btn-outline-dark-2"><span>به روز رسانی سبد خرید</span><i
                                class="icon-refresh"></i></a>
                    </div><!-- End .cart-bottom -->
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                    <div class="summary summary-cart">
                        <h3 class="summary-title">جمع سبد خرید</h3><!-- End .summary-title -->

                        <table class="table table-summary">
                            <tbody>
                                <tr class="summary-subtotal">
                                    <td>جمع کل سبد خرید : </td>
                                    <td class="text-left" id="cartPrice"><%- helper.decimaller(user.price) %> تومان</td>
                                </tr><!-- End .summary-subtotal -->

                                
                                <% if(options.transportCost !== 0) { %>
                                    <tr class="summary-shipping-row pt-2">
                                        <td>
                                            <label class="custom-control-label" for="standart-shipping">هزینه ارسال</label>
                                        </td>
                                        <td class="text-left"><%- helper.decimaller(options.transportCost) %> تومان</td>
                                    </tr><!-- End .summary-shipping-row -->
    
                                    <% if(!user.discountCode) { %>
                                        <tr class="summary-total">
                                        <td>مبلغ قابل پرداخت :</td>
                                        <td class="text-left"><%- helper.decimaller(user.finalPrice + options.transportCost) %> تومان</td>
                                        </tr><!-- End .summary-total -->
                                    <% } %>

                                <% } if(user.discountCode && user.discountCode != "") {  %>
                                    <tr class="summary-shipping-row pt-2">
                                        <td>
                                            <label class="custom-control-label" for="standart-shipping">کد تخفیف</label>
                                        </td>
                                        <td class="text-left"><%- user.discountCode %></td>
                                    </tr><!-- End .summary-shipping-row -->

                                    <tr class="summary-total">
                                        <td>مبلغ قابل پرداخت :</td>
                                        <td class="text-left"><%- helper.decimaller(user.finalPrice) %> تومان</td>
                                    </tr><!-- End .summary-total -->
                                <% } %>

                            </tbody>
                        </table><!-- End .table table-summary -->

                        <a href="checkout.html" class="btn btn-outline-primary-2 btn-order btn-block">رفتن
                            به صفحه پرداخت</a>
                    </div><!-- End .summary -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
            <% } else { %>
                <div class="alert alert-info my-5 d-flex justify-content-center flex-column align-items-center" role="alert">    
                    <h6 class="text-center text-white">محصولی در سبد خرید شما موجود نیست</h6>
                    <a href="/products">بازگشت به فروشگاه</a>
                </div>
            <% } %>
        </div><!-- End .container -->
    </div><!-- End .cart -->
</div><!-- End .page-content -->