
<%- include("./components/breadcrumb.ejs" , {array : [
    {title : "خانه" , link : "/"} , 
    {title : product.instrument.faName , link : helper.linkToInstrument(product.instrument.enName)} , 
    {title : product.fullName , link : "" , active : true}
]}) %>

<%- include("./components/popup-loginRequired.ejs" , {from : product._id}) %>


  <div class="page-content">
      <div class="container">
          <div class="product-details-top">
              <div class="row">
                  <div class="col-md-6">
                      <div class="product-gallery product-gallery-vertical">
                          <div class="row">
                              <figure class="product-main-image">
                                  <img id="product-zoom" src="<%- product.thumbnails[0].original %>"
                                      data-zoom-image="<%- product.thumbnails[0].big %>"
                                      alt="<%- product.fullName %>">

                                  <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                      <i class="icon-arrows"></i>
                                  </a>
                              </figure><!-- End .product-main-image -->

                              <div id="product-zoom-gallery" class="product-image-gallery">
                                  <% for(let i=0;i<product.thumbnails.length;i++){ %>
                                    <% if(i==0) { %>
                                        <a class="product-gallery-item active" href="#"
                                            data-image="<%- product.thumbnails[i].normal %>"
                                            data-zoom-image="<%- product.thumbnails[i].big %>">
                                            <img src="<%- product.thumbnails[i].small %>"
                                                alt="توضیحات تصویر">
                                        </a>
                                    <% } else { %>
                                    <a class="product-gallery-item" href="#"
                                        data-image="<%- product.thumbnails[i].normal %>"
                                        data-zoom-image="<%- product.thumbnails[i].big %>">
                                        <img src="<%- product.thumbnails[i].small %>"
                                            alt="توضیحات تصویر">
                                    </a>
                                    <% } %>
                                  <% } %>
                              </div><!-- End .product-image-gallery -->
                          </div><!-- End .row -->
                      </div><!-- End .product-gallery -->
                  </div><!-- End .col-md-6 -->

                  <div class="col-md-6">
                      <div class="product-details">
                          <h1 class="product-title"><%- product.fullName %></h1>
                          <!-- End .product-title -->

                          <div class="product-price">
                            <%- helper.decimaller(product.price) %> تومان
                          </div><!-- End .product-price -->

                          <div class="product-content">
                              <p>
                                <%- product.desc %>
                              </p>
                          </div><!-- End .product-content -->

                          </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <% if(loggedIn){ %>
                                    <a style="cursor: pointer;" 
                                    onclick="
                                        productId = '<%- product._id %>' ,
                                        userId = '<%- auth.id %>' 
                                        addToCart(productId , userId , 1)"

                                        class="btn-product btn-cart"> 
                                            <span>افزودن به سبد خرید</span>
                                        </a>
                                <% } else { %>
                                    <a style="cursor: pointer;" 
                                    onclick="$('#loginRequired').modal('show')"
                                        class="btn-product btn-cart"> 
                                            <span>افزودن به سبد خرید</span>
                                        </a>
                                <% } %>

                                <div class="details-action-wrapper">
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="alert alert-success" style="display: none;" id="alertSuccess" role="alert">
                                با موفقیت به <a href="/cart">سبد خرید</a> شما اضافه شد
                            </div>

                          <div class="product-details-footer">
                              <div class="product-cat text-center">
                                  <span>دسته بندی : </span>
                                  <a href="<%- helper.linkToCategory(product.category.enName) %>"><%- product.category.faName %></a> <-
                                  <a href="<%- helper.linkToInstrument(product.instrument.enName) %>"><%- product.instrument.faName %></a>
                              </div><!-- End .product-cat -->
                              </div>
                          </div><!-- End .product-details-footer -->
                      </div><!-- End .product-details -->
                  </div><!-- End .col-md-6 -->
              </div><!-- End .row -->
          </div><!-- End .product-details-top -->

          <%- include("./components/products-3.ejs" , {sameProducts , title : "این محصولات هم شبیه همین هستند"}) %>
      </div><!-- End .container -->
  </div><!-- End .page-content -->