
<%- include("./components/breadcrumb.ejs" , {array : [
{title : "خانه" , link : "/"} , 
{title : "فروشگاه" , link : `/products`}
]}) %>
<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="products mb-3">
                <div class="row justify-content-center">
                    <% products.docs.forEach(product => { %>
                        <%- include("./components/products-product.ejs" , {product}) %>
                    <% }) %>
                </div><!-- End .row -->
            </div><!-- End .products -->


            <%- include("./components/products-navigation" , {products}) %>
        </div><!-- End .col-lg-9 -->
        <aside class="col-lg-3 order-lg-first">
            <div class="sidebar sidebar-shop">

                <div class="widget widget-collapsible">
                    <h3 class="widget-title">
                        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                            aria-controls="widget-1">
                            انواع ساز ها
                        </a>
                    </h3><!-- End .widget-title -->

                    <div class="collapse show" id="widget-1">
                        <div class="widget-body">
                            <div class="filter-items filter-items-count">

                                <% categories.forEach(cat => { %>
                                    <div class="filter-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="category" 
                                            class="custom-control-input" 
                                            onclick="link('products-category/<%- cat.enName %>')" 
                                            id="cat-<%- cat._id %>">
                                            <label class="custom-control-label" 
                                            for="cat-<%- cat._id %>"><%- cat.faName %></label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                <% }) %>

                            </div><!-- End .filter-items -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .widget -->

                <div class="widget widget-collapsible">
                    <h3 class="widget-title">
                        <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                            aria-controls="widget-4">
                            دنبال چه سازی هستی ؟
                        </a>
                    </h3><!-- End .widget-title -->

                    <div class="collapse show" id="widget-4">
                        <div class="widget-body">
                            <div class="filter-items">
                                
                                <% instruments.forEach(ins => { %>
                                    <div class="filter-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio"
                                             name="instrument" 
                                             class="custom-control-input" 
                                             onclick="link('products-instrument/<%- ins.enName %>')" 
                                             id="cat-<%- ins._id %>">
                                            <label class="custom-control-label" for="cat-<%- ins._id %>"><%- ins.faName %></label>
                                        </div>
                                    </div>
                                <% }) %>

                            </div><!-- End .filter-items -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .widget -->
            </div><!-- End .sidebar sidebar-shop -->
        </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
</div><!-- End .container -->