<%- include("./components/jumbotron.ejs" , {title : "داشبورد" , subtitle : "پنل مدیریت شما"}); %>

<%- include("./components/breadcrumb.ejs" , {array : [
    {title : "خانه" , link : "/"} , 
    {title : "داشبورد" , link : `/user`}
    ]}) %>



<% 
let data = [];

orders.forEach((item , index) => {
  data[index] = {
    id : item._id , 
    link : `/user/order/${item._id}`,
    showId : false ,
    data : [
      {
          type : "text" ,
          text : `${item.cart[0].fullName} و ... `
      } ,
      helper.orderStatus(item.status) ,
      {
        type : "button" , 
        link : `/user/order/${item._id}`,
        button : "btn-sm p-3 btn-primary" ,
        text : 'پیگیری سفارش'
      }]
  }
}) 
%>
    
<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                role="tab" aria-controls="tab-orders" aria-selected="false">سفارشات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                role="tab" aria-controls="tab-account" aria-selected="false">تکمیل اطلاعات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">خروج از حساب کاربری</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab-orders" role="tabpanel"
                            aria-labelledby="tab-orders-link">
                            <% if(!orders) { %> 
                                <p>سفارش جدیدی وجود ندارد</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>رفتن به
                                    فروشگاه</span><i class="icon-long-arrow-left"></i></a>
                            <% } %>
                            <%- include("./components/table.ejs" ,  
                                {
                                showId : false ,
                                th : ["محصولات" , "وضعیت" , "عملیات"] ,
                                items : data
                                })
                            %>
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade mb-4" id="tab-account" role="tabpanel"
                            aria-labelledby="tab-account-link">
                            <form action="/user/edit" method="POST">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>نام *</label>
                                        <% if(user.name) { %> <input type="text" name="name" class="form-control" value="<%- user.name %>" required> <% } else { %>
                                            <input type="text" class="form-control" name="name" required>
                                        <% } %>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>نام خانوادگی *</label>
                                        <% if(user.family) { %> <input type="text" name="family" class="form-control" value="<%- user.family %>" required> <% } else { %>
                                            <input type="text" class="form-control" name="family" required>
                                        <% } %>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>نام نمایش *</label>
                                <% if(user.phone) { %> <input type="text" name="phone" class="form-control" value="<%- user.phone %>" required> <% } else { %>
                                    <input type="text" class="form-control" name="phone" required>
                                <% } %>

                                <label>ایمیل *</label>
                                <% if(user.mail) { %> <input type="text" name="mail" class="form-control" value="<%- user.mail %>" required> <% } else { %>
                                    <input type="text" class="form-control" name="mail" required>
                                <% } %>

                                <button type="submit" class="btn btn-outline-primary-2 float-right">
                                    <span>ذخیره تغییرات</span>
                                    <i class="icon-long-arrow-left"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->