<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li>
        <a href="<%- helper.linkToInstrument("guitar") %>">خرید گیتار</a>
    </li>

    <li>
        <a href="<%- helper.linkToInstrument("violin") %>" class="">خرید ویولن</a>
    </li>
    
    <li>
        <a href="<%- helper.linkToInstrument("piano") %>" >خرید پیانو</a>
    </li>

    <li>
        <a href="<%- helper.linkToCategory("iranian") %>" class="sf-with-ul">سازهای ایرانی</a>

        <ul>
            <li><a href="<%- helper.linkToInstrument("santoor") %>">سنتور</a></li>
            <li><a href="<%- helper.linkToInstrument("tar") %>">تار</a></li>
            <li><a href="<%- helper.linkToInstrument("setar") %>">سه تار</a></li>
            <li><a href="<%- helper.linkToInstrument("dotar") %>">دو تار</a></li>
            <li><a href="<%- helper.linkToInstrument("kamanche") %>">کمانچه</a></li>
            <li><a href="<%- helper.linkToInstrument("ood") %>">عود</a></li>
            <li><a href="<%- helper.linkToInstrument("tanboor") %>">تنبور</a></li>
            <li><a href="<%- helper.linkToInstrument("divan") %>">دیوان</a></li>
        </ul>
    </li>

    <li>
        <a href="<%- helper.linkToCategory("percussion") %>" class="sf-with-ul">سازهای کوبه ای</a>

        <ul>
            <li><a href="<%- helper.linkToInstrument("daf") %>">دف</a></li>
            <li><a href="<%- helper.linkToInstrument("tonbak") %>">تنبک</a></li>
            <li><a href="<%- helper.linkToInstrument("tempo") %>">تمپو</a></li>
            <li><a href="<%- helper.linkToInstrument("kajun") %>">کاخن</a></li>
        </ul>
    </li>

    <li>
        <a href="<%- helper.linkToCategory("wind") %>" class="sf-with-ul">ساز های بادی</a>

        <ul>
            <li><a href="<%- helper.linkToInstrument("clarinet") %>">کلارینت</a></li>
            <li><a href="<%- helper.linkToInstrument("trumpet") %>">ترومپت</a></li>
            <li><a href="<%- helper.linkToInstrument("sxophone") %>">ساکسیفون</a></li>
            <li><a href="<%- helper.linkToInstrument("accordian") %>">آکاردئون</a></li>
            <li><a href="<%- helper.linkToInstrument("flute") %>">فلوت</a></li>
            <li><a href="<%- helper.linkToInstrument("melodyca") %>">ملودیکا</a></li>
            <li><a href="<%- helper.linkToInstrument("trumpet") %>">شیپور</a></li>
            <li><a href="<%- helper.linkToInstrument("harmonica") %>">سازدهنی</a></li>
        </ul>
    </li>

    <li>
        <a href="<%- helper.linkToCategory("effect") %>" class="sf-with-ul">سازهای افکت</a>

        <ul>
            <li><a href="<%- helper.linkToInstrument("hangdrum") %>">هنگ درام</a></li>
            <li><a href="<%- helper.linkToInstrument("tonguedrum") %>">تانگ درام<span class="badge badge-success">(اگه نمیدونی چیه کلیک کن)</span></a></li>
            <li><a href="<%- helper.linkToInstrument("kalimba") %>">کالیمبا</a></li>
            <li><a href="<%- helper.linkToInstrument("lyre") %>">چنگ رومی</a></li>
            <li><a href="<%- helper.linkToInstrument("storm") %>">طوفان</a></li>
        </ul>
    </li>

    <li>
        <a href="<%- helper.linkToCategory("kids") %>" class="sf-with-ul">موسیقی کودک</a>

        <ul>
            <li><a href="<%- helper.linkToInstrument("belz") %>">بلز</a></li>
            <li><a href="<%- helper.linkToInstrument("fluterecorder") %>">فلوت ریکوردر</a></li>
            <li><a href="<%- helper.linkToInstrument("choobak") %>">چوبک</a></li>
            <li><a href="<%- helper.linkToInstrument("shaker") %>">شیکر</a></li>
            <li><a href="<%- helper.linkToInstrument("tanboorin") %>">تنبورین</a></li>
            <li><a href="<%- helper.linkToInstrument("dayerezangi") %>">دایره زنگی</a></li>
        </ul>
    </li>
    
    <li>
        <a href="<%- helper.linkToCategory("accessories") %>" class="">لوازم جانبی</a>
    </li>
    
  </ul><!-- End .menu -->
</nav><!-- End .main-nav -->