<div class="banner-group-1 mt-1 mb-1">
  <div class="container">
      <div class="owl-carousel owl-simple rows cols-1 cols-sm-2 cols-lg-3" data-toggle="owl"
          data-owl-options='{
          "nav": false, 
          "dots": true,
          "margin": 10,
          "loop": false,
          "rtl": true, 
          "responsive": {
              "0": {
                  "items":1
              },
              "576": {
                  "items":2
              },
              "992": {
                  "items":3
              }
          }
      }'>
          <% data.forEach(banner => { %>
            <div class="banner mb-0">
                <a href="<%- banner.link.href %>">
                    <img src="<%- banner.src %>" width="460"
                        height="210">
                </a>
                <div class="banner-content p-3">
                    <h2 class="banner-subtitle font-weight-normal text-dark mb-1"><%- banner.subtitle %></h2>
                    <h3 class="banner-title font-weight-bold  text-dark "><%- banner.title %></h3>
                    <a href="<%- banner.link.href %>" class="banner-link text-decoration-none"><%- banner.link.title %><i
                            class="icon-angle-left"></i></a>
                </div>
            </div>
          <% }) %>
      </div>
  </div>
</div>