<div class="container">
  <div class="newsletter-section bg-image d-flex align-items-center justify-content-center mb-1 pt-2 pb-2 px-3"
      style="background-image: url('<%- background %>');">
      <div class="banner-content position-relative pt-0">
          <h3 class="newsletter-title font-weight-bold text-center mb-1"><%- subtitle %></h3>
          <h2 class="newsletter-text font-weight-bold text-center my-4 mt-0">
            <% if(title.bold) { %><span class="text-primary"><%- title.bold %></span><% } %>
            <%- title.text %></h2>
          <p class="text-light font-weight-normal text-center mb-2"><%- desc %></p>
          <form action="" method="">
            <div class="d-flex justify-content-center flex-column flex-sm-row align-items-center align-items-sm-stretch">

                  <input type="text" name="phone" class="form-control text-light mb-1" placeholder="شماره تلفن خود را وارد کنید">

                  <input type="text" name="password" class="form-control text-light mb-1" placeholder="رمز عبور خود را وارد کنید">
                  <input type="text" name="password" class="form-control text-light mb-1" placeholder="رمز عبور خود را وارد کنید">

                  <div class="input-group-append">
                      <button class="btn btn-primary mb-1 letter-spacing-normal text-uppercase"
                          type="submit" id="newsletter-btn">
                          <span>تایید</span>
                      </button>
                  </div>

              </div>
          </form>
      </div>
  </div>
</div>