<div class="flash-section bg-lighter">
  <div class="container">
      <div class="heading d-flex flex-column flex-md-row">
          <h2 class="title align-self-center letter-spacing-normal text-center text-md-right"><%- title %></h2>
          <% if(express.status == true) { %>
            <div class="d-flex justify-content-center mt-1 mt-md-0">
                <h6
                    class="countdown-title align-self-center mb-0 font-weight-normal letter-spacing-normal"><%- express.title %></h6>
                <div class="deal-countdown align-self-center" data-until="<%- express.time %>" data-compact="true">
                </div>
            </div>
          <% } %>
      </div>
      <div class="flash-content mt-2 py-2 pb-7">
          <div class="owl-carousel carousel-equal-height owl-simple rows cols-2 cols-md-3 cols-lg-4 cols-xl-6"
              data-toggle="owl" data-owl-options='{
              "nav": true,
              "dots": true,
              "loop": true,
              "margin": 0,
              "rtl": true, 
          "responsive": {
                  "0": {
                      "items":2
                  },
                  "768": {
                      "items":3
                  },
                  "992": {
                      "items":4
                  },
                  "1200": {
                      "items":6
                  }
              }
          }'>
          
          <% products.forEach(product => { %>
          <div class="product text-center">
            <figure class="product-media">
                <a href="/product/<%- product._id %>">
                    <img src="<%- product.thumbnails[0] %>" alt="<%- product.fullName %>"
                        class="product-image">
                    <img src="<%- product.thumbnails[1] %>" alt="<%- product.enName %>"
                        class="product-image-hover">
                </a>

                <div class="product-action">
                    <a href="#" class="btn-product btn-cart"><span>اطلاعات بیشتر و خرید</span></a>
                </div><!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <h3 class="product-cat text-center"><a href="product.html"><%- product.instrument.faName %></a></h3>
                <h3 class="product-title text-center"><a href="product.html"><%- product.fullName %></a></h3>
                <!-- End .product-title -->
                <div class="product-price">
                    <%- product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> تومان
                </div><!-- End .product-price -->
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                    </div><!-- End .ratings -->
                    <span class="ratings-text">( 2 دیدگاه )</span>
                </div><!-- End .rating-container -->
            </div><!-- End .product-body -->
        </div><!-- End .product -->
        
        <% }) %>
          </div>
      </div>
  </div>
</div>