<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

      <% if(products.hasPrevPage) { %>
        <li class="page-item">
            <a class="page-link page-link-prev" href="<%- helper.linkToProducts(products.prevPage) %>" aria-label="Previous" tabindex="-1"
                aria-disabled="true">
                <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
            </a>
        </li>
      <% } %>

      <% for(let i=1 ; i<=products.totalPages;i++){ %>
        <li class="page-item"><a class="page-link"
            href="<%- helper.linkToProducts(i) %>"><%- i %></a></li>
      <% } %>

      <li class="page-item-total">از <%- products.totalPages %></li>

      <% if(products.hasNextPage) { %>
      <li class="page-item">
          <a class="page-link page-link-next" href="<%- helper.linkToProducts(products.nextPage) %>" aria-label="Next">
              بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
          </a>
      </li>
      <% } %>
  </ul>
</nav>