<div class="col-6 col-md-4 col-lg-4 col-xl-3">
  <div class="product product-7 text-center">
      <figure class="product-media">
          <!-- <span class="product-label label-new">جدید</span> -->
          <a href="<%- helper.linkToProduct(product._id) %>">
              <img src="<%- product.thumbnails[0] %>" alt="تصویر محصول"
                  class="product-image">
          </a>

          <div class="product-action">
              <a onclick="addToCart()" style="cursor: pointer;" class="btn-product btn-cart"><span>افزودن به
                      سبد خرید</span></a>
          </div><!-- End .product-action -->
      </figure><!-- End .product-media -->

      <div class="product-body">
          <div class="product-cat text-center">
              <a href="<%- helper.linkToInstrument(product.instrument.enName) %>"><%- product.instrument.faName %></a>
          </div><!-- End .product-cat -->
          <h3 class="product-title text-center"><a href="<%- helper.linkToProduct(product._id) %>"><%- product.fullName %></a></h3><!-- End .product-title -->
          <div class="product-price">
              <%- helper.decimaller(product.price) %> تومان
          </div><!-- End .product-price -->
      </div><!-- End .product-body -->
  </div><!-- End .product -->
</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->